<a href="https://colab.research.google.com/github/GeorgiNikZlatev/Python_Data_Analysis/blob/main/Python_Part_3_Exercise_Notebook_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Part 3Training
## Pandas DataFrame

[Pandas documentation](https://pandas.pydata.org/docs/user_guide/index.html)

[10 Minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html#min)

## Import Pandas

In [ ]:
import pandas as pd

### Read the file and save as dataframe

In [ ]:
df = pd.read_csv("/content/student.csv", low_memory=False, index_col="id")

In [ ]:
df

           name  class  mark  gender
id
1      John Deo   Four    75  female
2      Max Ruin  Three    85    male
3        Arnold  Three    55    male
4    Krish Star   Four    60  female
5     John Mike   Four    60  female
6     Alex John   Four    55    male
7   My John Rob  Fifth    78    male
8        Asruid   Five    85    male
9       Tes Qry    Six    78    male
10     Big John   Four    55  female
11       Ronald    Six    89  female
12        Recky    Six    94  female
13          Kty  Seven    88  female
14         Bigy  Seven    88  female
15     Tade Row   Four    88    male
16        Gimmy   Four    88    male
17        Tumyu    Six    54    male
18        Honny   Five    75    male
19        Tinny   Nine    18    male
20       Jackly   Nine    65  female
21   Babby John   Four    69  female
22       Reggid  Seven    55  female
23        Herod  Eight    79    male
24    Tiddy Now  Seven    78    male
25     Giff Tow  Seven    88    male
26       Crelea  Seven    79    male
27     Big Nose  Three    81  female
28    Rojj Base  Seven    86  female
29  Tess Played  Seven    55    male
30    Reppy Red    Six    79  female
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
34     Gain Toe  Seven    69    male
35   Rows Noump    Six    88  female

Subseting df

In [ ]:
df["class"]

id
1      Four
2     Three
3     Three
4      Four
5      Four
6      Four
7     Fifth
8      Five
9       Six
10     Four
11      Six
12      Six
13    Seven
14    Seven
15     Four
16     Four
17      Six
18     Five
19     Nine
20     Nine
21     Four
22    Seven
23    Eight
24    Seven
25    Seven
26    Seven
27    Three
28    Seven
29    Seven
30      Six
31     Four
32    Seven
33      Six
34    Seven
35      Six
Name: class, dtype: object

In [ ]:
df.name

id
1        John Deo
2        Max Ruin
3          Arnold
4      Krish Star
5       John Mike
6       Alex John
7     My John Rob
8          Asruid
9         Tes Qry
10       Big John
11         Ronald
12          Recky
13            Kty
14           Bigy
15       Tade Row
16          Gimmy
17          Tumyu
18          Honny
19          Tinny
20         Jackly
21     Babby John
22         Reggid
23          Herod
24      Tiddy Now
25       Giff Tow
26         Crelea
27       Big Nose
28      Rojj Base
29    Tess Played
30      Reppy Red
31    Marry Toeey
32      Binn Rott
33      Kenn Rein
34       Gain Toe
35     Rows Noump
Name: name, dtype: object

In [ ]:
df.iloc[0:5,0:1]
#is 5 for row selection inclusive: NO
#is 1 for column seletion inclusive: NO
#index and headers don't count

          name
id
1     John Deo
2     Max Ruin
3       Arnold
4   Krish Star
5    John Mike

In [ ]:
df.iloc[0:10,0:3]

           name  class  mark
id
1      John Deo   Four    75
2      Max Ruin  Three    85
3        Arnold  Three    55
4    Krish Star   Four    60
5     John Mike   Four    60
6     Alex John   Four    55
7   My John Rob  Fifth    78
8        Asruid   Five    85
9       Tes Qry    Six    78
10     Big John   Four    55

In [ ]:
df.iloc[0:5,-4:-1]

          name  class  mark
id
1     John Deo   Four    75
2     Max Ruin  Three    85
3       Arnold  Three    55
4   Krish Star   Four    60
5    John Mike   Four    60

In [ ]:
df.loc[:, "name"]
#display All the row in column "Name"

id
1        John Deo
2        Max Ruin
3          Arnold
4      Krish Star
5       John Mike
6       Alex John
7     My John Rob
8          Asruid
9         Tes Qry
10       Big John
11         Ronald
12          Recky
13            Kty
14           Bigy
15       Tade Row
16          Gimmy
17          Tumyu
18          Honny
19          Tinny
20         Jackly
21     Babby John
22         Reggid
23          Herod
24      Tiddy Now
25       Giff Tow
26         Crelea
27       Big Nose
28      Rojj Base
29    Tess Played
30      Reppy Red
31    Marry Toeey
32      Binn Rott
33      Kenn Rein
34       Gain Toe
35     Rows Noump
Name: name, dtype: object

In [ ]:
df.loc[0:5, ["class","name"]]

    class        name
id
1    Four    John Deo
2   Three    Max Ruin
3   Three      Arnold
4    Four  Krish Star
5    Four   John Mike

In [ ]:
df.iloc[[2]]
#display only 1 row

      name  class  mark gender
id
3   Arnold  Three    55   male

#### Print the first 10 Rows

In [ ]:
df.head()

          name  class  mark  gender
id
1     John Deo   Four    75  female
2     Max Ruin  Three    85    male
3       Arnold  Three    55    male
4   Krish Star   Four    60  female
5    John Mike   Four    60  female

In [ ]:
df.head(10)

           name  class  mark  gender
id
1      John Deo   Four    75  female
2      Max Ruin  Three    85    male
3        Arnold  Three    55    male
4    Krish Star   Four    60  female
5     John Mike   Four    60  female
6     Alex John   Four    55    male
7   My John Rob  Fifth    78    male
8        Asruid   Five    85    male
9       Tes Qry    Six    78    male
10     Big John   Four    55  female

#### Print the last 5 Rows

In [ ]:
df.tail()

           name  class  mark  gender
id
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
34     Gain Toe  Seven    69    male
35   Rows Noump    Six    88  female

In [ ]:
df.tail().T # .T(transpose) swap rows and columns

id               31         32         33        34          35
name    Marry Toeey  Binn Rott  Kenn Rein  Gain Toe  Rows Noump
class          Four      Seven        Six     Seven         Six
mark             88         90         96        69          88
gender         male     female     female      male      female

### More about dataset

In [ ]:
df.shape

(35, 4)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35 entries, 1 to 35
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   name    35 non-null     object
 1   class   35 non-null     object
 2   mark    35 non-null     int64
 3   gender  35 non-null     object
dtypes: int64(1), object(3)
memory usage: 2.4+ KB

In [ ]:
df.columns

Index(['name', 'class', 'mark', 'gender'], dtype='object')

### Renaming Columns

In [ ]:
df.rename( columns={'name' : 'Name' }).head() #inplace=True

          Name  class  mark  gender
id
1     John Deo   Four    75  female
2     Max Ruin  Three    85    male
3       Arnold  Three    55    male
4   Krish Star   Four    60  female
5    John Mike   Four    60  female

In [ ]:
df.rename( columns={'class' : 'Class', 'mark':'Mark', 'gender':'Gender' }).tail() #inplace=True

           name  Class  Mark  Gender
id
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
34     Gain Toe  Seven    69    male
35   Rows Noump    Six    88  female

In [ ]:
df.rename(columns={'name' : 'Name'}, inplace=True)

In [ ]:
df

           Name  class  mark  gender
id
1      John Deo   Four    75  female
2      Max Ruin  Three    85    male
3        Arnold  Three    55    male
4    Krish Star   Four    60  female
5     John Mike   Four    60  female
6     Alex John   Four    55    male
7   My John Rob  Fifth    78    male
8        Asruid   Five    85    male
9       Tes Qry    Six    78    male
10     Big John   Four    55  female
11       Ronald    Six    89  female
12        Recky    Six    94  female
13          Kty  Seven    88  female
14         Bigy  Seven    88  female
15     Tade Row   Four    88    male
16        Gimmy   Four    88    male
17        Tumyu    Six    54    male
18        Honny   Five    75    male
19        Tinny   Nine    18    male
20       Jackly   Nine    65  female
21   Babby John   Four    69  female
22       Reggid  Seven    55  female
23        Herod  Eight    79    male
24    Tiddy Now  Seven    78    male
25     Giff Tow  Seven    88    male
26       Crelea  Seven    79    male
27     Big Nose  Three    81  female
28    Rojj Base  Seven    86  female
29  Tess Played  Seven    55    male
30    Reppy Red    Six    79  female
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
34     Gain Toe  Seven    69    male
35   Rows Noump    Six    88  female

In [ ]:
df.describe()

            mark
count  35.000000
mean   74.657143
std    16.401117
min    18.000000
25%    62.500000
50%    79.000000
75%    88.000000
max    96.000000

###Checking Missing Values

In [ ]:
df.isnull()

     Name  class   mark  gender
id
1   False  False  False   False
2   False  False  False   False
3   False  False  False   False
4   False  False  False   False
5   False  False  False   False
6   False  False  False   False
7   False  False  False   False
8   False  False  False   False
9   False  False  False   False
10  False  False  False   False
11  False  False  False   False
12  False  False  False   False
13  False  False  False   False
14  False  False  False   False
15  False  False  False   False
16  False  False  False   False
17  False  False  False   False
18  False  False  False   False
19  False  False  False   False
20  False  False  False   False
21  False  False  False   False
22  False  False  False   False
23  False  False  False   False
24  False  False  False   False
25  False  False  False   False
26  False  False  False   False
27  False  False  False   False
28  False  False  False   False
29  False  False  False   False
30  False  False  False   False
31  False  False  False   False
32  False  False  False   False
33  False  False  False   False
34  False  False  False   False
35  False  False  False   False

In [ ]:
df.isnull().sum() #total number of missing values in all collumns

Name      0
class     0
mark      0
gender    0
dtype: int64

In [ ]:
df.isnull().sum().sum() #total number of null vallues in the whole data frame

0

In [ ]:
dr.dropna() #it will delete null values

## Indexing and Slicing in Pandas

### Slicing

#### Print the names of the students

In [ ]:
df["name"]

id
1        John Deo
2        Max Ruin
3          Arnold
4      Krish Star
5       John Mike
6       Alex John
7     My John Rob
8          Asruid
9         Tes Qry
10       Big John
11         Ronald
12          Recky
13            Kty
14           Bigy
15       Tade Row
16          Gimmy
17          Tumyu
18          Honny
19          Tinny
20         Jackly
21     Babby John
22         Reggid
23          Herod
24      Tiddy Now
25       Giff Tow
26         Crelea
27       Big Nose
28      Rojj Base
29    Tess Played
30      Reppy Red
31    Marry Toeey
32      Binn Rott
33      Kenn Rein
34       Gain Toe
35     Rows Noump
Name: name, dtype: object

#### Print only the first name

In [ ]:
df["name"][0:1]

id
1    John Deo
Name: name, dtype: object

#### Print only the first 5 names

In [ ]:
df["name"][0:5]

id
1      John Deo
2      Max Ruin
3        Arnold
4    Krish Star
5     John Mike
Name: name, dtype: object

In [ ]:
df.name

id
1        John Deo
2        Max Ruin
3          Arnold
4      Krish Star
5       John Mike
6       Alex John
7     My John Rob
8          Asruid
9         Tes Qry
10       Big John
11         Ronald
12          Recky
13            Kty
14           Bigy
15       Tade Row
16          Gimmy
17          Tumyu
18          Honny
19          Tinny
20         Jackly
21     Babby John
22         Reggid
23          Herod
24      Tiddy Now
25       Giff Tow
26         Crelea
27       Big Nose
28      Rojj Base
29    Tess Played
30      Reppy Red
31    Marry Toeey
32      Binn Rott
33      Kenn Rein
34       Gain Toe
35     Rows Noump
Name: name, dtype: object

In [ ]:
df.name[:5]

id
1      John Deo
2      Max Ruin
3        Arnold
4    Krish Star
5     John Mike
Name: name, dtype: object

In [ ]:
print(type(df.name))

<class 'pandas.core.series.Series'>

In [ ]:
print(type(df["name"]))

<class 'pandas.core.series.Series'>

#### Print the id and names of the students

In [ ]:
df[["name"]]

           name
id
1      John Deo
2      Max Ruin
3        Arnold
4    Krish Star
5     John Mike
6     Alex John
7   My John Rob
8        Asruid
9       Tes Qry
10     Big John
11       Ronald
12        Recky
13          Kty
14         Bigy
15     Tade Row
16        Gimmy
17        Tumyu
18        Honny
19        Tinny
20       Jackly
21   Babby John
22       Reggid
23        Herod
24    Tiddy Now
25     Giff Tow
26       Crelea
27     Big Nose
28    Rojj Base
29  Tess Played
30    Reppy Red
31  Marry Toeey
32    Binn Rott
33    Kenn Rein
34     Gain Toe
35   Rows Noump

#### Displaying multiple columns and rows

In [ ]:
df[["name", "class"]][:5]

          name  class
id
1     John Deo   Four
2     Max Ruin  Three
3       Arnold  Three
4   Krish Star   Four
5    John Mike   Four

In [ ]:
df[["name", "class"]][-5:]

           name  class
id
31  Marry Toeey   Four
32    Binn Rott  Seven
33    Kenn Rein    Six
34     Gain Toe  Seven
35   Rows Noump    Six

In [ ]:
print(type(df[["class", "name"]]))

<class 'pandas.core.frame.DataFrame'>

### Indexing in Pandas

#### Using .loc() and .iloc()

![image.png](attachment:image.png)
[image source](https://cdn-coiao.nitrocdn.com/CYHudqJZsSxQpAPzLkHFOkuzFKDpEHGF/assets/static/optimized/rev-85bf93c/wp-content/uploads/2019/02/pandas-loc-syntax-explanation.png)

In [ ]:
df.loc["name"]

In [ ]:
df.loc[:, "name"]

In [ ]:
df.loc[:10,["name", "gender"]]

![image.png](attachment:image.png)

In [ ]:
df.iloc[0]

In [ ]:
df.iloc[0,0]

In [ ]:
df.iloc[0:5, 0:5]

In [ ]:
df.iloc[:10,[2,4]]

# <p style="color:green;">Exercise</p>

<p> Display first 5 rows and first 3 columns using </p>
<p>slicing</p>
<p>loc</p>
<p>iloc</p>

In [ ]:
df[["name", "class", "mark"]][0:5]

          name  class  mark
id
1     John Deo   Four    75
2     Max Ruin  Three    85
3       Arnold  Three    55
4   Krish Star   Four    60
5    John Mike   Four    60

In [ ]:
df.loc[:5,["name", "class", "mark"]]

           name  class  mark
id
1      John Deo   Four    75
2      Max Ruin  Three    85
3        Arnold  Three    55
4    Krish Star   Four    60
5     John Mike   Four    60
6     Alex John   Four    55
7   My John Rob  Fifth    78
8        Asruid   Five    85
9       Tes Qry    Six    78
10     Big John   Four    55

In [ ]:
df.iloc[0:5, 0:3]

          name  class  mark
id
1     John Deo   Four    75
2     Max Ruin  Three    85
3       Arnold  Three    55
4   Krish Star   Four    60
5    John Mike   Four    60

Find the total number of male and female students.

In [ ]:
df["gender"].value_counts()

male      18
female    17
Name: gender, dtype: int64

Find the number of students per class.

In [ ]:
df["class"].value_counts()

Seven    10
Four      9
Six       7
Three     3
Five      2
Nine      2
Fifth     1
Eight     1
Name: class, dtype: int64

## Filtering

Filters marks greater than 85

In [ ]:
df[df["mark"]>85]

           name  class  mark  gender
id
11       Ronald    Six    89  female
12        Recky    Six    94  female
13          Kty  Seven    88  female
14         Bigy  Seven    88  female
15     Tade Row   Four    88    male
16        Gimmy   Four    88    male
25     Giff Tow  Seven    88    male
28    Rojj Base  Seven    86  female
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
35   Rows Noump    Six    88  female

Exercise: What is the name of the student with mark less than 50?

In [ ]:
df[df["mark"]<50]

     name class  mark gender
id
19  Tinny  Nine    18   male

Exercise: Find the name of the student with mark greater than 50?

In [ ]:
df[df["mark"]>50]

           name  class  mark  gender
id
1      John Deo   Four    75  female
2      Max Ruin  Three    85    male
3        Arnold  Three    55    male
4    Krish Star   Four    60  female
5     John Mike   Four    60  female
6     Alex John   Four    55    male
7   My John Rob  Fifth    78    male
8        Asruid   Five    85    male
9       Tes Qry    Six    78    male
10     Big John   Four    55  female
11       Ronald    Six    89  female
12        Recky    Six    94  female
13          Kty  Seven    88  female
14         Bigy  Seven    88  female
15     Tade Row   Four    88    male
16        Gimmy   Four    88    male
17        Tumyu    Six    54    male
18        Honny   Five    75    male
20       Jackly   Nine    65  female
21   Babby John   Four    69  female
22       Reggid  Seven    55  female
23        Herod  Eight    79    male
24    Tiddy Now  Seven    78    male
25     Giff Tow  Seven    88    male
26       Crelea  Seven    79    male
27     Big Nose  Three    81  female
28    Rojj Base  Seven    86  female
29  Tess Played  Seven    55    male
30    Reppy Red    Six    79  female
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
34     Gain Toe  Seven    69    male
35   Rows Noump    Six    88  female

Exercise: Find the name of the student with mark above the average?

In [ ]:
df["mark"].mean()

74.65714285714286

In [ ]:
df[df["mark"]>df["mark"].mean()]

           name  class  mark  gender
id
1      John Deo   Four    75  female
2      Max Ruin  Three    85    male
7   My John Rob  Fifth    78    male
8        Asruid   Five    85    male
9       Tes Qry    Six    78    male
11       Ronald    Six    89  female
12        Recky    Six    94  female
13          Kty  Seven    88  female
14         Bigy  Seven    88  female
15     Tade Row   Four    88    male
16        Gimmy   Four    88    male
18        Honny   Five    75    male
23        Herod  Eight    79    male
24    Tiddy Now  Seven    78    male
25     Giff Tow  Seven    88    male
26       Crelea  Seven    79    male
27     Big Nose  Three    81  female
28    Rojj Base  Seven    86  female
30    Reppy Red    Six    79  female
31  Marry Toeey   Four    88    male
32    Binn Rott  Seven    90  female
33    Kenn Rein    Six    96  female
35   Rows Noump    Six    88  female


Find the name of the students with mark between 50 and 55

In [ ]:
df[(df["mark"]>=50) & (df["mark"]<=55)]

           name  class  mark  gender
id
3        Arnold  Three    55    male
6     Alex John   Four    55    male
10     Big John   Four    55  female
17        Tumyu    Six    54    male
22       Reggid  Seven    55  female
29  Tess Played  Seven    55    male

Find male students with marks above 80

In [ ]:
df[(df["gender"]=="male") & (df["mark"]>80)]

           name  class  mark gender
id
2      Max Ruin  Three    85   male
8        Asruid   Five    85   male
15     Tade Row   Four    88   male
16        Gimmy   Four    88   male
25     Giff Tow  Seven    88   male
31  Marry Toeey   Four    88   male

Find the average mark of the students either in class six or class five.

In [ ]:
df[(df["class"]=="Six") | (df["class"]=="Five")]["mark"].mean()

82.0

Exercise: Find the total number the student with mark above the average by gender?

In [ ]:
df[df["mark"]>df["mark"].mean()]["gender"].value_counts()

male      12
female    11
Name: gender, dtype: int64

In [ ]:
df["gender"].value_counts()

male      18
female    17
Name: gender, dtype: int64